<%= flash[:notice] %>

Bookmark Manager

<form action="/adding" name="add_bookmark"  method="post">
  <input type="text" id ="bookmark" name="url" placeholder="url">
  <input type="text" id ="bookmark" name="title" placeholder="title">
<button type="submit" id ="add_bookmark" value="Save">Add bookmark</button>
</form>
<form action="/bookmarks" method="get">
<button type="submit" value="View bookmarks">View bookmarks</button>
</form>
